* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 82.5%;
	line-height: 1.2;
	font-family: "Ubuntu Mono", monospace;
	color: #fff;
}

::-webkit-scrollbar {
	display: none;
}

h3 {
	color: #4263eb;
	letter-spacing: 1px;
}

.container {
	width: 100%;
	padding: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #000;
}

.terminal {
	background-color: #000;
	outline: solid #dee2e6 3px;
	outline-offset: -2px;
	width: 100rem;
	height: 600px;
	margin: auto;
	border-radius: 20px;
	overflow-y: scroll;
	position: relative;
}

.area {
	position: absolute;
	top: 700px;
	left: -500px;
}

@media (hover: none) {
	.container {
		padding: 0;
	}

	.terminal {
		height: 100%;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 60%;
	}
}

/* HEADER BAR */
.terminal__head {
	background-color: #dee2e6;
	width: 100%;
	border-radius: 20px 20px 0 0;
	padding: 1rem 2rem;
	display: flex;
	gap: 0.7rem;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top: 0;
	left: 0;
}

.terminal__head--buttons {
	display: flex;
	gap: 0.7rem;
}

.head__circle {
	height: 15px;
	width: 15px;
	border-radius: 100%;
}

.head__circle--red {
	background-color: #e03131;
}

.head__circle--yellow {
	background-color: #fcc419;
}

.head__circle--green {
	background-color: #37b24d;
}

.terminal__head--text {
	color: #000;
	letter-spacing: 0.5px;
}

/* MAIN PART */
.terminal__main {
	padding: 1rem 2rem;
	font-size: 1.6rem;
}

.linespace {
	margin-bottom: 0.7rem;
	letter-spacing: 0.5px;
}

.prompt {
	color: #be4bdb;
	margin-right: 1rem;
	letter-spacing: 0.5px;
}

@keyframes cursor-blink {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #be4bdb;
	}
	100% {
		background-color: transparent;
	}
}

.cursor {
	position: relative;
	cursor: text;
}

.cursor::after {
	content: "";
	width: 6px;
	height: 100%;
	background-color: #be4bdb;
	position: absolute;
	top: 0;
	right: -6px;
	animation: cursor-blink infinite 1s step-end;
}

.error {
	color: #e03131;
	letter-spacing: 0.5px;
}

.socialLink:link,
.socialLink:visited {
	text-decoration: none;
	color: #37b24d;
}

.socialLink:hover {
	color: #69db7c;
}

.spaceholder {
	margin-right: 1rem;
	margin-left: 1rem;
	color: #3bc9db;
}

.infoType {
	color: #3bc9db;
}

